// any class containing "grid-" displays as grid above 768px
// below that, displays as a vertical stack of elements
[class^="grid-"] {
  display: grid;
  grid-column-gap: $global-gutter;
  padding: 0 $global-gutter;

  @media (max-width: $screen-not-small) {
    display: block;
    
    & > * + * {
      margin-top: $global-gutter;
    }
  }
}

.grid-split {
  grid-template-columns: [left] 1fr [right] 1fr;
}

// full width with a centered content area
// use for post-style layouts with full width "breakout" elements
.grid-content {
  grid-template-columns: [left-gutter] 1fr [content-start] 66ch [content-end right-gutter] 1fr;
}

// every child of the grid goes in the content column unless specified
.grid-content > * {
  grid-column: content-start / content-end;
}

// media-esq elements and anything with the .full-bleed class break out of
// the content container
.grid-content figure,
.grid-content > img,
.grid-content .full-bleed {
  grid-column: 1 / -1;
}
