@import '_open-color';

// Type
$font-headings: neue-haas-grotesk-display, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$font-text: neue-haas-grotesk-text, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;

$heading-1: 4rem;
$heading-2: 2rem;
$text-body: 1.125rem;

$line-height-headings: 1.25;
$line-height-text: 1.4;

$global-gutter: 3.5vmin;

$measure: 66ch;
$measure-narrow: 50ch;
$measure-tight: 20ch;

$top-align: calc(50vh - 12rem);

$screen-large: 60rem;
$screen-not-small: 48rem;

.measure { max-width: $measure; }
.measure-narrow { max-width: $measure-narrow; }
.measure-tight { max-width: $measure-tight; }

.stack > * + * {
  margin-top: 1rem;
}

body {
  font-family: $font-text;
  line-height: $line-height-text;
  font-weight: 500;
  background-color: $oc-gray-0;
  color: $oc-gray-9;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: $font-headings;
  line-height: $line-height-headings;
  font-weight: 500;
}

h1, .h1 { 
  font-size: $heading-1; 
  @media(max-width: $screen-not-small) {
    font-size: 3rem;
  }
}

p { font-size: $text-body; }

a:not([class]) { color: inherit; }

