@import 'reset';
@import 'vars';

// Typography

html {
  font-family: $font-text;
  line-height: $line-height-text;
  color: $black;
  background-color: $white;
  
  @media(prefers-color-scheme: dark) {
    color: $white;
    background-color: $black;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-headings;
  line-height: $line-height-headings;
}

h1 {
  font-size: $font-size-display-sm;
  max-width: 20ch;

  @include not-small {
    font-size: $font-size-display-lg;
  }
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

// Global Layout
.container {
  padding: $squishy-space;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__name { text-decoration: none; }

.social > * + * {
  margin-left: 1rem;
}

// Homepage Layout
.introduction {
  margin: 8rem 0;

  @include not-small {
    margin: 12rem 0;
  }
}

.teasers {
  margin-bottom: 8rem;

  @include not-small {
    margin-bottom: 16rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $squishy-space;
  }
}

.teasers > * + * {
  margin-top: 8rem;
}

.teaser {
  grid-column: span 3;

  @include not-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $squishy-space;
    grid-template-areas:
      'image image'
      'title text';
  }

  // Stagger the teasers so every other one is aligned right
  &:nth-of-type(2) {
    grid-column: 2 / span 3;
  }
}

.teaser__img {
  max-width: 100%;
  grid-area: image;
  margin-bottom: 1rem;
  box-shadow: $shadow-image;
}

.teaser__link {
  display: block;
}

.teaser__text > * + * {
  margin-top: 1em;
}

// Project Page Layout

.project__intro {
  margin: 8rem 0;
  
  @include not-small {
    margin: 16rem 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $squishy-space;
  }
}

.project__title {
  margin-bottom: 2rem;
}

.project__text {
  padding-top: 1rem;
  max-width: 66ch;

  & > * + * {
    margin-top: 1rem;
  }
}

.project__meta > * + * {
  margin-top: 0.5rem;
}

.project__gallery {
  grid-column: 1 / -1;
  margin-bottom: 8rem;

  
  @include not-small {
    margin-bottom: 16rem;
  }
}

.project__gallery > * + * {
  margin-top: 8rem;
}

.gallery-item__img {
  width: 100%;
  margin-bottom: 1rem;
}

.gallery-item__caption {
  font-size: $font-size-small;
  font-style: italic;
  max-width: 66ch;
}

// Post Layout
.post {
  --flow-space: 1.5rem;
  max-width: 50rem;
  padding: 8rem 0;
  margin-left: auto;
  margin-right: auto;

  @include not-small {
    padding: 16rem 0;
  }
}

.post > * + * {
  margin-top: var(--flow-space);
}

.post img,
.post figure,
.post video,
.post pre,
.post .full-bleed {
  width: 100vw;
  max-width: 60rem;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  // width: 100%;
  // grid-column: media-start / media-end;
  // margin-top: .5rem;
  // margin-bottom: 2rem;
  // margin-bottom: 3.5rem;
}

.post figure, .post figure + *, .post pre > code, .post video, .post img, .post img + *, .post blockquote, .post blockquote + * {
  --flow-space: 4rem;
}

.post__header {
  margin-bottom: 4rem;
}

.post__title {
  margin-bottom: 1rem;
}

.post__time {
  display: block;
  margin-bottom: 1.5rem;
}

.post__time, .post__tags {
  font-size: 1rem;
}

.post p {
 margin-bottom: 1.5em; 
}

.post h2, .post h3, .post h4 {
  margin-bottom: 0.5em;
}

.post blockquote {
  font-size: 1.25rem;
  padding: 2rem 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: .125rem;
    height: 100%;
    top: 0;
    left: -$squishy-space;
    background-color: $black;

    @media(prefers-color-scheme: dark) {
      background-color: $white;
    }
  }
}

.post blockquote p {
  margin-bottom: 0;
}

.post blockquote p + p {
  margin-top: 1.5em
}

.post pre {
  padding: $squishy-space;
  background-color: $oc-gray-1;
  overflow-x: scroll;
}