@import 'base';
@import 'theme';

.container {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
}

.global-header,
.global-footer {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover { text-decoration: underline; }
}

.global-header > a {
  display: flex;
  align-content: center;

  svg { margin-right: 0.5rem; }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.work-index-item {
  font-size: $heading-2;
  line-height: $line-height-headings;
  font-weight: 500;
}

.work-index-item a {
  text-decoration: none;

  &:hover { text-decoration: underline;}
}

.work-index-item span {
  font-size: $text-body;
  color: $oc-gray-6;

  @media (max-width: $screen-large) {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 2rem;
  }
}

.social-links li {
  display: inline-block;
  margin-left: 2rem;
}

.project {
  padding-top: $top-align;
  @media(min-width: $screen-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.project header {
  grid-column: 1;
  h1 {margin-bottom: 2rem;}
  dd {margin-bottom: 1.5rem;}
}

.project .intro {
  padding-top: 2rem;
  grid-column : 2;
}

.gallery {
  padding: 8rem 0;
  grid-column: 1 / -1;
}

.gallery figure {
  margin-bottom: 4rem;
}

.gallery img {
  width: 100%;
  box-shadow: 0px 16px 30px rgba( $oc-gray-9, 0.1 );
}

.gallery figcaption {
  padding: 2rem 1.5rem;
  font-size: 1rem;
}
