@import 'base';
@import 'theme';
@import 'grid';

.container {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
} 

.global-header, 
.global-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $global-gutter;
}

.global-header__item {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.global-header__text {
  margin-left: 0.5rem;
}

.global-footer__links  {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

@media(max-width: $screen-not-small) {
  .global-header__text {
    display: none;
  }

  .global-footer {
    display: block;

    & > * + * {
      margin-top: $global-gutter;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $global-gutter;
  padding-right: $global-gutter;
}

.work-index__item {
  font-size: 4rem;
  line-height: $line-height-headings;
  @media(max-width: $screen-not-small) {
    font-size: 2rem;
  }

  & a {
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.project {
  padding-top: $top-align;
}

.project h1 {
  margin-bottom: 2rem;
}

.project .meta__item {
  margin-bottom: 0.5rem;
  color: $oc-gray-6;
}

.gallery {
  padding: 8rem 0;
  grid-column: 1 / -1;
}

.gallery figure {
  margin-bottom: 4rem;
}

.gallery img {
  width: 100%;
  box-shadow: 0px 16px 30px rgba( $oc-gray-9, 0.1 );
}

.gallery figcaption {
  padding: 2rem 1.5rem;
  font-size: 1rem;
}
