<footer class="social">
  <a class="social__link" href="http://twitter.com/jmegs">Twitter</a>
  <a class="social__link" href="http://github.com/jmegs">Github</a>
  <a class="social__link" href="http://instagram.com/jmegs_">Instagram</a>
  <a class="social__link" href="http://linkedin.com/johnmeguerian">Linkedin</a>
</footer>
