<footer class="global-footer">
  <div class="tagline">Don't Panic.</div>
  <ul class="social-links">
    <li>
      <a class="plain" href="http://twitter.com/jmegs">Twitter</a>
    </li>
    <li>
      <a class="plain" href="http://github.com/jmegs">Github</a>
    </li>
    <li>
      <a class="plain" href="http://instagram.com/jmegs_">Instagram</a>
    </li>
    <li>
      <a class="plain" href="http://linkedin.com/johnmeguerian">Linkedin</a>
    </li>
  </ul>
</footer>