<header class="global-header">
  <%# <div class="global-header__item"> %>
    <% link_to "/", :class => "global-header__item" do %>
    <%= inline_svg "circle.svg", :class => "global-header__icon" %>
    <span class="global-header__text">John Meguerian</span>
    <% end %>
  <%# </div> %>
  <%# <div class="global-header__item"> %>
    <% link_to "/work", :class => "global-header__item" do %>
      <%= inline_svg "more.svg", :class => "global-header__icon" %>
      <span class="global-header__text">Projects</span>
    <% end %>
  <%# </div> %>

</header>