<footer class="global-footer">
  <div class="tagline">Don't Panic.</div>
  <div class="global-footer__links">
      <a href="http://twitter.com/jmegs">Twitter</a>
      <a href="http://github.com/jmegs">Github</a>
      <a href="http://instagram.com/jmegs_">Instagram</a>
      <a href="http://linkedin.com/johnmeguerian">Linkedin</a>
  </div>
</footer>