<!-- Primary Meta Tags -->
<title><%= page_title %></title>
<meta name="title" content="John Meguerian">
<meta name="description" content="Product designer and occasional developer based in New York City.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://johnmeguerian.com/">
<meta property="og:title" content="John Meguerian">
<meta property="og:description" content="Product designer and occasional developer based in New York City.">
<meta property="og:image" content="/assets/images/og_image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://johnmeguerian.com/">
<meta property="twitter:title" content="John Meguerian">
<meta property="twitter:description" content="Product designer and occasional developer based in New York City.">
<meta property="twitter:image" content="/assets/images/og_image.png">