<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}John Meguerian</title>
    {% include partials/meta_tags.html %}
    <link rel="stylesheet" href="https://use.typekit.net/orr0eqr.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js"></script>
    {% if code %}
    <link rel="stylesheet" href="/css/syntax.css" />
    {% endif %}
  </head>
  <body {% if id %} id="{{ id }}" {% endif %}>
    <nav>
      <a class="nav_home" href="/">John Meguerian</a>
      <ul class="nav_links">
        <li><a class="nav_link" href="/work">Work</a></li>
        <li><a class="nav_link" href="/about">About</a></li>
        <li><a class="nav_link disabled" href="/posts">Posts</a></li>
        <li><a class="nav_link" href="/uses">Uses</a></li>
      </ul>
    </nav>
    <main id="swup" class="transition-fade">
      {{ content }}
    </main>
  </body>
</html>
