<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/orr0eqr.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/app.js"></script>
    {% if code %}
    <link rel="stylesheet" href="/css/syntax.css" />
    {% endif %}
  </head>
  <body>
    {% include partials/nav.html %}
    <main id="swup" class="transition-fade">
    {{ content }}
    </main>
    {% include partials/footer.html %}
  </body>
</html>
