footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'links links'
    'copyright scroll';
  padding: 12.8rem 12.8rem 6.4rem;

  @media (max-width: 96rem) {
    padding: 8vmin;
    display: block;
  }
}

.footer-social-links {
  grid-area: links;
  margin-bottom: 2.4rem;

  li {
    display: inline-block;
    @media (max-width: 96rem) {
      display: block;
      margin-bottom: 0.8rem;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid var(--body);
    }
  }
}

.footer-copyright {
  grid-area: copyright;
  @media (max-width: 96rem) {
    display: block;
    margin-bottom: 0.8rem;
  }
}

.footer-scroll {
  grid-area: scroll;
  justify-self: end;
  @media (max-width: 96rem) {
    display: block;
  }
}
