nav {
  display: flex;
  padding: 6.4rem 3.2rem 0;
  justify-content: space-between;
}

.nav_home-link {
  text-decoration: none;
  color: inherit;
}

.nav_links li {
  display: inline;
  margin-left: 1.6rem;
}

.nav_links .disabled {
  text-decoration: line-through;
}

.nav_links li:not(.disabled):hover {
  border-bottom: 2px solid var(--grey-mid);
}
