@import '_base';
@import '_fonts';
@import '_design';
@import '_nav';
@import '_footer';

.grid-4 {
  display: grid;
  grid-template-columns: [outer-start col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [outer-end];
  padding: 12.8rem;

  @media (max-width: 960px) {
    padding: 8vmin;
    display: block;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 960px) {
    display: block;
  }
}

.bordered-grid {
  border-top: 2px solid var(--grey-light);
  & > * {
    border-bottom: 2px solid var(--grey-light);
  }

  & > :nth-child(odd) {
    @media (min-width: 960px) {
      border-right: 2px solid var(--grey-light);
    }
  }

  &--cell-lg {
    padding: 12.8rem 8rem 12.8rem 12.8rem;

    @media (max-width: 960px) {
      padding: 8vmin;
    }
  }

  &--cell {
    padding: 8rem 8rem 8rem 12.8rem;

    @media (max-width: 960px) {
      padding: 8vmin;
    }
  }
}

body {
  .text-body;
  background: var(--background);
  color: var(--body);
  max-width: 136.6rem;
  margin: 0 auto;
}

::selection {
  background: var(--primary);
  color: #ffffff;
}

.banner h1 {
  grid-column: col2 / outer-end;
  margin-bottom: 8rem;

  @media (max-width: 1180px) {
    grid-column-start: outer-start;
  }
}

.banner p {
  grid-column: col3 / col4;
}

.work_project h2 {
  margin-bottom: 8rem;
}

.work_project p {
  margin-bottom: 3.2rem;
}

.work_experiment h3 {
  margin-bottom: 0.8rem;
}

.work_experiment p {
  margin-bottom: 1.2rem;
}

.post_title {
  grid-column: outer-start / outer-end;
  margin-bottom: 8rem;
}

.post_meta {
  grid-column: col3 / col4;
}

.post_content {
  display: grid;
  grid-template-columns:
    [page-start]
    1fr
    [main-start]
    minmax(auto, 68.3rem)
    [main-end]
    1fr
    [page-end];
  margin: 0;

  @media (max-width: 96rem) {
    display: block;
    padding: 0 8vmin;
  }
}

.post_content figure {
  grid-column: page-start / page-end;
  margin: 3.2rem 0 6.4rem;
}

.post_content > :not(figure) {
  grid-column: main-start / main-end;
  margin-bottom: 3.2rem;
}

.post_content h2 {
  .heading-sm-display;
}

.post_content li {
  margin-bottom: 0.4rem;
  list-style-type: disc;
}
