@import '_base';
@import '_fonts';

:root {
  --black: #171a27;
  --mid-grey: #535663;
  --light-grey: #cbced7;
  --primary: #4c67eb;
}

body {
  padding: 5.6rem 7.2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  font-family: 'Sometype Mono', 'SF Mono', 'Roboto Mono', Menlo, monospace;
  font-size: 1.6rem;
  line-height: 1.875;
  text-rendering: optimizeLegibility;

  color: var(--mid-grey);

  @media (max-width: 640px) {
    padding: 2.4rem;
  }
}

#projects {
  margin-bottom: 3.2rem;
}

a.slash:after {
  content: ' / ';
  color: var(--light-grey);
}

a.slash:hover:after {
  color: var(--primary);
}

h1,
h2 {
  font-family: 'Ivymode', system-ui;
  font-weight: normal;
  line-height: 1.5;
  color: var(--black);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  margin-bottom: 1.6rem;
}

a:not([class]) {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--primary);

  &:hover,
  &:focus {
    border-color: var(--light-grey);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.2rem;

  font-size: 1.4rem;
}

nav li {
  display: inline-block;
}

article {
  display: grid;
  grid-template-columns:
    [left-gutter]
    1fr
    [main-start]
    minmax(auto, 68.3rem)
    [main-end]
    1fr
    [right-gutter];
}

article > * {
  grid-column: main-start / main-end;
  margin-bottom: 2.4rem;
}

article li {
  margin-bottom: 0.8rem;
  list-style: disc;
}

article figure,
article code {
  grid-column: left-gutter / right-gutter;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4.2rem;

  font-size: 1.4rem;

  @media (max-width: 680px) {
    display: block;
  }
}

footer li {
  display: inline-block;
}
