@import 'base';
@import 'fonts';
@import 'design';
@import 'nav';
@import 'footer';

.grid-4 {
  display: grid;
  grid-template-columns: [outer-start col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [outer-end];
  padding: 12.8rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bordered-grid {
  border-top: 2px solid var(--grey-light);
  & > * {
    border-bottom: 2px solid var(--grey-light);
  }

  & > :nth-child(odd) {
    border-right: 2px solid var(--grey-light);
  }

  &--cell-lg {
    padding: 12.8rem 8rem 12.8rem 12.8rem;
  }

  &--cell {
    padding: 8rem 8rem 8rem 12.8rem;
  }
}

body {
  background: var(--background);
  color: var(--body);
  font-family: @font-sans;
  max-width: 136.6rem;
  margin: 0 auto;
}

#home {
  header h1 {
    grid-column: col2 / outer-end;
    margin-bottom: 8rem;
  }

  header p {
    grid-column: col3 / col4;
  }

  .project h2 {
    margin-bottom: 8rem;
  }

  .project p {
    margin-bottom: 3.2rem;
  }

  .experiment h3 {
    margin-bottom: 0.8rem;
  }

  .experiment p {
    margin-bottom: 1.2rem;
  }
}

.post-header-title {
  grid-column: outer-start / outer-end;
  margin-bottom: 8rem;
}

.post-header-meta {
  grid-column: col3 / col4;
}

.post-content {
  display: grid;
  grid-template-columns:
    [page-start]
    1fr
    [main-start]
    minmax(auto, 68.3rem)
    [main-end]
    1fr
    [page-end];
  margin: 0;
}

.post-content img {
  grid-column: page-start / page-end;
  margin: 3.2rem 0 6.4rem;
}

.post-content > :not(img) {
  grid-column: main-start / main-end;
  margin-bottom: 3.2rem;
}
