<!-- Primary Meta Tags -->
<meta name="title" content="John Meguerian" />
<meta
  name="description"
  content="John Meguerian is a product designer and front-end developer in NYC"
/>

<!-- Favicon -->
<link rel="icon" href="/img/favicon.png" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://johnmeguerian.com" />
<meta property="og:title" content="John Meguerian" />
<meta
  property="og:description"
  content="John Meguerian is a product designer and front-end developer in NYC"
/>
<meta property="og:image" content="/img/ogimage.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://johnmeguerian.com" />
<meta property="twitter:title" content="John Meguerian – Product Designer" />
<meta
  property="twitter:description"
  content="John Meguerian is a product designer and front-end developer in NYC"
/>
<meta property="twitter:image" content="/img/ogimage.png" />
