{{ define "main" }}
<h1 class="fluid fadeInUp">
  John Meguerian is a product designer at
  <a href="https://squarespace.com">Squarespace</a> in New York City.
</h1>
<h1 class="fadeInUp">
  View his recent work for <a href="/work/equinox">Equinox</a> and
  <a href="/work/samsung">Samsung</a> or visit on
  <a href="https://instagram.com/jmegs_">Instagram</a>,
  <a href="https://twitter.com/jmegs">Twitter</a>,
  <a href="https://github.com/jmegs">Github</a>, or
  <a href="https://linkedin.com/johnmeguerian">Linkedin.</a>
</h1>
{{ end }}
