---
title: Test Post Please Ignore
date: July 31, 2019
tags: 
  - foo
  - bar
  - baz
layout: "post"
---

<p>Cras sagittis posuere eros id ullamcorper ligula venenatis facilisis viverra auctor, massa gravida eu scelerisque parturient duis turpis felis sollicitudin, porta dignissim adipiscing eleifend nostra habitant lobortis praesent pretium. Aptent adipiscing turpis eu posuere facilisi penatibus curabitur in volutpat, fames vivamus nullam ornare lorem taciti phasellus dapibus, odio ultricies nam tincidunt primis sapien bibendum lectus. Massa cursus nam libero venenatis lacinia augue nibh aliquam feugiat, imperdiet urna tristique odio pretium sodales in orci platea iaculis, dui sit turpis donec inceptos ut facilisi enim. Congue viverra a magna felis gravida integer curabitur duis mauris sociis, curae sem nascetur erat urna ipsum in non nibh, auctor enim blandit est vulputate vitae inceptos praesent faucibus. Auctor habitasse quisque at, morbi faucibus luctus mi, placerat cubilia. Lorem sapien maecenas at elit leo, ultricies sed porta iaculis, nulla lobortis sit placerat. Cubilia ridiculus lacus consequat velit elit nostra nascetur, urna fusce quisque nec placerat gravida fames, metus suscipit enim mollis litora ultrices imperdiet, suspendisse inceptos donec rhoncus lorem phasellus.</p>
<h2 id="suspendisse-ligula-fringilla">Suspendisse ligula fringilla</h2>
<p>Eros porttitor vitae diam dis mattis neque in felis, blandit auctor elit dapibus interdum lorem mi ac, ultrices nisl malesuada natoque phasellus augue nibh.</p>
<p>Aliquam libero a mattis condimentum cras rutrum torquent quis, tristique varius integer vivamus orci tellus maecenas ultricies faucibus, natoque sapien fermentum ullamcorper phasellus dignissim lacus. Vestibulum nascetur eget nam enim malesuada a urna rutrum mus tempor, gravida quis dictumst auctor magna ipsum risus luctus pharetra egestas, nibh ante taciti per praesent faucibus placerat phasellus himenaeos. </p>

<img src="https://picsum.photos/1500/1000?grayscale" alt="foo">

<h3 id="consequat-ornare">Consequat ornare</h3>
<p>Posuere ac conubia vel pulvinar vehicula rutrum, sociis penatibus mattis tempus suspendisse mi vestibulum, nullam varius urna commodo fusce. Dictum posuere tincidunt euismod morbi sodales parturient elementum viverra ipsum lectus phasellus, ornare suspendisse sagittis erat mauris est curae facilisis montes ullamcorper, ante cursus urna feugiat enim ultricies ridiculus dis duis tellus. </p>
<blockquote>
<p> blockquote Felis orci nulla fringilla aenean erat curae, interdum cubilia fames dapibus et tempor, maecenas sodales dis feugiat duis, sollicitudin sed vel consectetur himenaeos. </p>
</blockquote>
<p>Inceptos bibendum vehicula rhoncus leo lobortis mus parturient enim, luctus consectetur volutpat nascetur tincidunt nunc montes, lacinia pellentesque elit mi porta venenatis conubia.</p>
<pre><code class="lang-js">export function useKeyEvent(code, keyFunction, deps) {
  keyFunction = React.useCallback(keyFunction, deps)
  React.useEffect(() => {
    function pressKey(event) {
      if (event.code === code) {
        keyFunction(event)
      }
    }
    document.addEventListener('keydown', pressKey)
    return function removeListener() {
      document.removeEventListener('keydown', pressKey)
    }
  }, [code, keyFunction])
}

/* 
  How to use:
  useKeyEvent("Escape", () => console.log("You pressed the escape key"))
  find key events at https://keycode.info
*/
</code></pre>
<p>Vitae sapien himenaeos lorem aenean luctus torquent neque libero, metus hendrerit porta a ut per suspendisse, auctor volutpat donec risus etiam rhoncus dui. Habitasse leo cursus ultricies fermentum magnis vehicula nostra integer urna, rutrum cras ornare sit rhoncus molestie volutpat senectus, sociis hac porta ad potenti mus vitae feugiat. Leo consectetur sem nibh eleifend enim eros mollis ipsum pretium mattis maecenas habitasse, est justo dictumst aliquam venenatis elementum phasellus fringilla mi faucibus. Duis turpis sem urna penatibus est tristique congue purus hendrerit, lectus habitasse nulla sociis vestibulum cras torquent ligula, condimentum nullam iaculis augue pharetra tempor eleifend rhoncus. Enim ante dui tempus habitant ac aliquam rhoncus ornare urna, sagittis laoreet eleifend hac aptent integer neque faucibus montes, himenaeos nullam congue dictumst scelerisque tincidunt felis sed. Tortor sit ut iaculis pellentesque ad nam cum dui egestas dictumst, nascetur hac laoreet vitae felis lobortis litora ridiculus arcu rutrum, vehicula tincidunt metus varius quis sociis magna libero nulla.</p>
