extends _layout.pug

block content
  h1.big-serif John Meguerian is a product designer and occasional developer in NYC. Currently at Squarespace.

  nav.social-links.big-serif
    a.big-serif(href="https://twitter.com/jmegs") Tweets
    a.big-serif(href="https://instagram.com/jmegs_") Instagram
    a.big-serif(href="https://github.com/jmegs") Github