extends _layout.pug

block content
  div.home-container
    h1.big-serif John Meguerian is a product designer and occasional developer in NYC. Currently at Squarespace.

    nav.project-links.big-serif
      a(href="./projects/equinox.pug") 
        span Equinox 
        span.date 2018
      a(href="./projects/samsung.pug") 
        span Samsung 
        span.date 2017

    nav.social-links.big-serif
      a(href="https://twitter.com/jmegs" data-hover="Tweets") Tweets
      a(href="https://instagram.com/jmegs_") Instagram
      a(href="https://github.com/jmegs") Github