  <section class="introduction">
    <h1>John Meguerian is a product designer based in NYC. Currently at <a href="https://squarespace.com">Squarespace</a>.</h1>
  </section>
  
  <section class="teasers">
    <div class="teaser">
      <img class="teaser__img" src="https://picsum.photos/1500/1000?grayscale" alt="">
      <h2 class="teaser__title">Cool Project</h2>
      <div class="teaser__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eligendi quis, possimus velit ea similique voluptas magni consequatur quia iure incidunt recusandae voluptatibus repellat, vero assumenda molestias magnam laboriosam ipsam!</p>
        <a class="teaser__link" href="#">See More</a>
      </div>

    </div>
    <div class="teaser">
      <img class="teaser__img" src="https://picsum.photos/1500/1000?grayscale" alt="">
      <h2 class="teaser__title">Cool Project</h2>
      <div class="teaser__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eligendi quis, possimus velit ea similique voluptas magni consequatur quia iure incidunt recusandae voluptatibus repellat, vero assumenda molestias magnam laboriosam ipsam!</p>
        <a class="teaser__link" href="#">See More</a>
      </div>
    </div>
    <div class="teaser">
      <img class="teaser__img" src="https://picsum.photos/1500/1000?grayscale" alt="">
      <h2 class="teaser__title">Cool Project</h2>
      <div class="teaser__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eligendi quis, possimus velit ea similique voluptas magni consequatur quia iure incidunt recusandae voluptatibus repellat, vero assumenda molestias magnam laboriosam ipsam!</p>
        <a class="teaser__link" href="#">See More</a>
      </div>
    </div>
  </section>