<h1 class="intro serif">
  <span class="sans">John Meguerian</span> is a product designer and developer based in Brooklyn. 
  Curently at <a href="https://squarespace.com" class="sans">Squarespace.</a>
</h1>

<section class="lists">
<ul class="list" id="work-list">
  <h2 class="list__heading">Work</h2>
  <%# @TODO add project pages %>
  <li>Under&nbsp;/&nbsp;<span class="sans">Construction</span></li>
  <%# <li>Trial Wizard&nbsp;–&nbsp;<span class="sans">2019</span></li>
  <li>Local Listings&nbsp;–&nbsp;<span class="sans">2019</span></li>
  <li>Equinox&nbsp;–&nbsp;<span class="sans">2018</span></li>
  <li>Samsung Retail&nbsp;–&nbsp;<span class="sans">2019</span></li> %>
</ul>
<ul class="list" id="oss-list">
  <h2 class="list__heading">Open Source</h2>
  <li><a href="https://aspect.netlify.com" class="link">Aspect Ratio Calculator</a></li>
  <li><a href="https://easings.netlify.com" class="link">Easing Curve Preview</a></li>
  <li><a href="#" class="link disabled">Modular Scale Generator</a></li>
  <li><a href="https://spacerator.netlify.com" class="link">Letterspacing Tool</a></li>
</ul>
<ul class="list" id="info-list">
  <h2 class="list__heading">Info</h2>
  <li class="block">johnmeguerian@gmail.com</li>
  <li><a class="link" href="https://twitter.com/jmegs">Twitter</a></li>
  <li><a class="link" href="https://instagram.com/jmegs_">Instagram</a></li>
  <li><a class="link" href="https://github.com/jmegs">Github</a></li>
  <li><a class="link" href="https://linkedin.com/johnmeguerian">Linkedin</a></li>
</ul>
</section>

