<ul class="work-index">
  <li class="work-index-item">
    <%= link_to 'Equinox Personal Training', '/work/test' %>
    <span>2018 @ R/GA</span>
  </li>
  <li class="work-index-item">
    <a href="#">Samsung Entertainment Experience</a>
    <span>2017 @ R/GA</span>
  </li>
  <li class="work-index-item">
    <a href="#">Aspect Ratio Calculator</a>
    <span>Open Source</span>
  </li>
  <li class="work-index-item">
    <a href="#">Easing Curves Preview</a>
    <span>Open Source</span>
  </li>
  <li class="work-index-item">
    <a href="#">Modular Scale Generator</a>
    <span>Open Source</span>
  </li>
  <li class="work-index-item">
    <a href="#">Spacerator</a>
    <span>Open Source</span>
  </li>
</ul> 