<ul class="work-index">
  <li class="work-index__item">
    <%= link_to 'Equinox Personal Training', '/work/test' %>
  </li>
  <li class="work-index__item">
    <a href="#">Samsung Entertainment Experience</a>
  </li>
  <li class="work-index__item">
    <a href="#">Aspect Ratio Calculator</a>
  </li>
  <li class="work-index__item">
    <a href="#">Easing Curves Preview</a>
  </li>
  <li class="work-index__item">
    <a href="#">Modular Scale Generator</a>
  </li>
  <li class="work-index__item">
    <a href="#">Spacerator</a>
  </li>
</ul> 