.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
