@import '_reset.css';

:root {
  --unit: 9vmin;
}

body {
  font-family: system-ui;
  font-weight: 300;
  line-height: 1.4;
  padding: 6vmin;
  min-height: 100vh;
}

h1 {
  font-size: var(--unit);
  font-weight: 300;
}

p {
  font-size: 20px;
  letter-spacing: 0.01em;
  max-width: 38em;
}

.post h1 {
  margin-bottom: calc(var(--unit) * 4);
}
