<footer>
  <div class="footer-top">Don't Panic.</div>
  <div class="footer-bottom">
    <ul class="footer-social-links">
      <li><a href="https://twitter.com/jmegs">Twitter</a> /</li>
      <li><a href="https://twitter.com/jmegs">Instagram</a> /</li>
      <li><a href="https://twitter.com/jmegs">Github</a> /</li>
      <li><a href="https://twitter.com/jmegs">Linkedin</a> /</li>
      <li><a href="https://twitter.com/jmegs">Email Me</a></li>
    </ul>
    <span class="footer-copyright">© 2019 John Meguerian</span>
  </div>
</footer>
