<footer>
  <ul class="footer-social-links heading-sm-display">
    <li><a class="social_link" href="https://twitter.com/jmegs">Twitter</a> /</li>
    <li><a class="social_link" href="https://instagram.com/jmegs_">Instagram</a> /</li>
    <li><a class="social_link" href="https://github.com/jmegs">Github</a> /</li>
    <li><a class="social_link" href="https://linkedin.com/in/johnmeguerian">Linkedin</a> /</li>
    <li><a class="social_link href="mailto:johnmeguerian@gmail.com">Email Me</a></li>
  </ul>
  <span class="footer-copyright text-mono">© 2019 John Meguerian</span>
  <span class="footer-scroll text-mono js-scrollToTop">To the top ↑</span>
</footer>
